includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - vendor/timeweb/phpstan-enum/extension.neon


parameters:

    paths:
        - app

    # The level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#PHPDoc tag @var#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false