/**
  * Created by PhpStorm.
 * User: LokiThor2021
 * Date: 27/04/2022
 * Time: 11:04
 */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.auth {
    background: linear-gradient(45deg, #B69255, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    animation: gradient 15s ease infinite;
    background-size: 500% 500%;
}

.auth__main {
    background-color: rgba(0, 0, 0, .4);
}